/* CSS Document for Screens */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');




body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    margin: 0;
    padding: 0;
    }


#page {
    max-width: 1200px; 
    margin: 0 auto;
    position: relative;
}


/* Text */


h1 {
    margin: 0 0 1em 0;
    font-size: 2.8em;
    font-weight: 700;
}

#pic3 {
    background: url(../images/Skaftafell-Ice-Caves-4.jpg);

    width:400px;
    height:300px;
    margin-bottom: 10px;
}


#pic4 {
background: url(../images/desktop-1447281605.jpg);
    width:400px;
    height:300px;

}



h2 {
    margin: 0  1em  ;
    font-size: 3em;
    font-weight: 700;
    line-height: 2em;  
    style: center
}


h3 {
    margin: 0 0 .5em 0;
    font-size: 1.3em;
    font-weight: 700;
}


h3 {
    margin: 0 0 1.5em 0;
    font-size: em;
    font-weight: 700;
}


p {
    margin: 0 0 3em 0;
    font-size: 15px;
    float: left;

}


a {
    color: brown;
    float: left
}


a:visited {
    color: #65b1ff;
}






/*header*/




header {
    height: 200px; 
    background: url(../images/skaftafell02b.jpg);
    background-size: cover;
    position: relative;
}



header a.logo {
    position: absolute;
    display: block;
    width: 160px;
    height: 56px;
    background-size: contain;
    top: 15px;
    left: 20px;
}


header a.logo span {
    display: none;
}


header div.hero {
    position: absolute;
    top: 35px;
    left: 4%;
    font-size: 2em;
}


header div.hero h1 {
    line-height: 1em;
    margin: 0 0 30px 0;
    color: white;
}

/* Section- All */
section { padding: 0 30 px; }
section::after { content:''; display: block; clear: both; }


/* Section - Main */

secion.main { margin-top: 20px; margin-bottom: 30 px; padding: 0; background-color: #ccc; }
section.main aside { width: 33%; float: left; text-align: center; }


section.main aside h3 a { color: #000; text-decoration: none; font-size: 1em; }
section.main aside h3 a:hover { text-decoration: underline; }



/* Section - SkaftafellIceland */

section.SkaftafellIceland { background-color: brown; padding-top: 30px; padding-bottom: 30px; color: #fff; }

section.anotherone { background-color: sandybrown; padding-top: 30px; padding-bottom: 30px; color: white;
font-size: 30px; 
} 


section.SkaftafellIceland article { padding: o 20px 0 515px; }

/* section - experience */

section.experience { background-color: #D7FFE2; position: relative; 
margin-bottom: 30em; padding: 60px;  }
section.experience aside { width:30%; float: left; margin-right: 10px; padding: 20px 20px 30px;}
section.experience .content { padding: 0px 30px 80px 0; }
section.experience .content img { display: block; margin-bottom: 15px; width: 70%; }
section.experience .content h4 { margin-bottom: 0; margin: 45px; font-size: 25px; }
section.experience .content p { margin-bottom: 1em; margin: 45px;}
section.experience .content a { display: inline; color: dimgray; font-weight: 700; font-size: 15px; margin: 5px 30px 0px ;}

section.experience blockquote { 
    margin: 0; width: 32%;
    color: #444;
    background-color: #fff;
    position: absolute; bottom: 0; right: 4%; 
    
}

section.experience blockquote p { margin: 30px 30px 20px 50px; }

section.experience blockquote p.quote  { font-style: italic; font-size: 1.2 em;}

section.experience blockquote p.credit { 
color: #777;
font-size: .9em; margin-top: 0; 

}


/* Navigation */
nav {
    position: absolute;
    top: 0px;
    left: -20px;
    width: 100%;
}


nav::after {
    content: '';
    display: block;
    clear: both;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}


nav ul li:hover {
    background-color: darkseagreen;
}


nav ul li:hover > ul {
    display: block;
}


nav ul li a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    width: 125px;
    position: relative;
}


nav ul li a:visited {
    color: white;
}


nav ul li a:hover {
    background-color: darkseagreen;
}


nav ul ul {
    position: absolute;
    top: 100%;
    background-color: black;
    display: none;
}


nav ul ul li {
    position: relative;
}


nav ul ul ul {
    left: 100%;
    top: 0px;
}


/* Top Level */
nav > ul {
    padding-left: 200px;
}


nav > ul > li {
    float: left;
}


nav > ul > li > a {
    width: auto;
    padding: 10px 10px 15px 20px;
}


nav a[aria-haspopup="true"]::after {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 16px;
    right: 15px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid green;
}


nav > ul > li > a[aria-haspopup="true"]::after {
    border-top: 4px solid green;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    left: 20px;
    right: auto;
    bottom: 6px;
    top: auto;
}



footer { font-size: 1em; margin: 4px; color: #999; padding: 20px; }

footer .content { display: inline; }

footer a { margin-left: 30px; color: #777; }
footer a:visited { color:#777; }
footer a:hover { color: #000; }



    

    
    /*Media Queries*/

@media screen and (max-width: 1000px) {
    
    h1 { font-size: 2.4em; }
    
    /* Header */
    header div.hero {left: 16%; }
    header div.hero h1 { margin-bottom: 20 px }
        
    /* Section - Atmospgere */
        section.atmosphere article { padding-left: 400px; background-size 375px auto; }
        
}


 @media screen and (max-width: 320px) {
       
        section.experience {left: 16%;} 
    
    section.experience .content {
     float: left; }
        section.experience aside { width:50%; float: left; margin-right: 80px; padding: 10px;}
        
        section.experience .content a { max-width: 20px;
        }
     
    
    