/* Main Page */
body{
    background-color: white;
    
}


p.hi{
position: relative;
bottom: 250px;
text-align: center;
font-family: 'News Cycle', sans-serif;
font-size: 25px;
margin: 0;
color: white;
    
}

p.hii{
position: relative;
bottom: 240px;
text-align: center;
font-family: 'News Cycle', sans-serif;
font-size: 25px;
margin: 0;
color: white
}




h1 {
    font-size: 95px;
    background-color: #364E5E;
    padding: 90px 150px 200px 150px;
    position: relative;
    bottom: 60px; 
    text-align: center;
    font-family: 'Unica One', cursive;
    color: white;
    
    
}


a.p111{
text-decoration: none;
list-style-type: none;
color: black;
padding: 80px 200px 80px 200px;
text-align: center;
    

}

a.p111:hover {
    color: #96A4B5;}



.portfolio {
list-style-type: none;
position: relative;
bottom: 190px; 
right: 20px; 
padding: 80px 80px 80px 80px;
text-align: center;
color: #474747;
font-family: 'News Cycle', sans-serif;
color: #474747; 
font-size: 45px;
text-decoration: none;    
}



/* Freshman Page */

ul.woo {
     background-color: #E3E3E3;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    bottom: 205px;
    
}

p.hello{
position: relative;
bottom: 250px;
text-align: center;
font-family: 'News Cycle', sans-serif;
font-size: 25px;
margin: 0;
color: white;

    
}


p.helloo{

position: relative;
bottom: 240px;
text-align: center;
font-family: 'News Cycle', sans-serif;
font-size: 25px;
margin: 0;
color: white;
}



li.p22 {

float: left;
    
}



li a.p222 {
   
    position: relative;
    bottom: 10px;
    font-size: 20px;
    font-family: 'News Cycle', sans-serif;
   
}


a.p222{
color: white;
text-decoration: none;
list-style-type: none;
color: #363636;


}





.haa{
    background: #ffffff url(../images/Carepackage.jpg)
    no-repeat;
     position:relative;
    left:250px;
    Width:600px;
    Height:400px;
    bottom: 150px;
    max-width:100%;
    max-height:100%;
    background-size: contain;
    
}


.Carepackage1 {
    position: relative;
    bottom: 150px;
}


.Carepackage2 {
    position: relative;
    bottom: 150px;
}



.laa{
    background: #ffffff url(../images/midnight.jpg)
    no-repeat;
     position:relative;
    left:250px;
    Width:600px;
    Height:400px;
    bottom: 150px;
    max-width:100%;
    max-height:100%;
    background-size: contain;
}

.Midnight1 {
    position: relative;
    bottom: 150px;
}


.Midnight2 {
    position: relative;
    bottom: 150px;
}

.waa{
    background: #ffffff url(../images/photoshop.jpg)
    no-repeat;
     position:relative;
    left:250px;
    Width:600px;
    Height:400px;
    bottom: 150px;
    max-width:100%;
    max-height:100%;
    background-size: contain;
    
}

.Photoshop1 {
    position: relative;
    bottom: 150px;
}


.Photoshop2 {
    position: relative;
    bottom: 150px;
}


.raa {
    background: #ffffff url(../images/Illustrator.jpg)
    no-repeat;
     position:relative;
    left:250px;
    Width:600px;
    Height:400px;
    bottom: 150px;
    max-width:100%;
    max-height:100%;
    background-size: contain;
    
}

.Illustrator1 {
    position: relative;
    bottom: 150px;
}


.Illustrator2 {
    position: relative;
    bottom: 150px;
}



.naa{
    background: #ffffff url(../images/me.jpg)
    no-repeat;
     position:relative;
    left:250px;
    Width:600px;
    Height:400px;
    bottom: 150px;
    max-width:100%;
    max-height:100%;
    background-size: contain;
    
    
}

.myself1 {
    position: relative;
    bottom: 150px;
}


.myself2 {
    position: relative;
    bottom: 150px;
}




.voo{
    background: #ffffff url(../images/excel.jpg)
    no-repeat;
     position:relative;
    left:250px;
    Width:600px;
    Height:400px;
    bottom: 100px;
    max-width:100%;
    max-height:100%;
    background-size: contain
    
}


.excel1 {
    position: relative;
    bottom: 150px;
}


.excel2 {
    position: relative;
    bottom: 150px;
}


a.p222:hover {
    color: #96A4B5;}




li a.p222 {
    
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
   
    
}

/*Sophomore Year*/

ul.woot {
    background-color: #E3E3E3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    bottom: 205px;
    
}

p.lol{
position: relative;
bottom: 250px;
text-align: center;
font-family: 'News Cycle', sans-serif;
font-size: 25px;
margin: 0;
color: white;
  
}


.jaa{
    background: #ffffff url(../images/chile.jpg)
    no-repeat;
     position:relative;
    left:250px;
    Width:600px;
    Height:400px;
    bottom: 150px;
    max-width:100%;
    max-height:100%;
    background-size:contain;
    
}

.Chile1 {
    position: relative;
    bottom: 150px;
}


.Chile2 {
    position: relative;
    bottom: 150px;
}


.yya{
    background: #ffffff url(../images/usability.jpg)
    no-repeat;
     position:relative;
    left:250px;
    Width:600px;
    Height:400px;
    bottom: 150px;
    max-width:100%;
    max-height:100%;
    
}


.wwq{
    background: #ffffff url(../images/moodboard.jpg)
    no-repeat;
     position:relative;
    left: 240px;
    Width:600px;
    Height:400px;
    max-width:100%;
    max-height:100%;
    background-size:contain;
    
}

.wwqq1 {
    position: relative;
    bottom: 50px;
}


.wwqq2 {
    position: relative;
    bottom: 50px;
}



p.loll{
position: relative;
bottom: 240px;
text-align: center;
font-family: 'News Cycle', sans-serif;
font-size: 25px;
margin: 0;
color: white;
}


li.p33 {
float: left;
}

li a.p333 {

    position: relative;
    bottom: 10px;
    left: 55px;
    font-size: 20px;
    font-family: 'News Cycle', sans-serif;
    
}


a.p333{
color: white;
text-decoration: none;
list-style-type: none;
color: #363636;

}

a.p333:hover {
    color: #96A4B5;}


li a.p333 {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}



/*Junior Year*/


ul.woott {
    background-color: #E3E3E3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    bottom: 205px;
    
}

li.p44 {
float: left;
}

p.mh{
position: relative;
bottom: 250px;
text-align: center;
font-family: 'News Cycle', sans-serif;
font-size: 25px;
margin: 0;
color: white;
  
}


.daa{
    background: #ffffff url(../images/ship.jpg)
    no-repeat;
     position:relative;
    Width: 900px;
    Height: 400px;
    bottom: 150px;
    background-size: contain;

    
}


.App1 {
    position: relative;
    bottom: 150px;
}


.App2 {
    position: relative;
    bottom: 150px;
}


.coo{
    background: #ffffff url(../images/uprise.jpg)
    no-repeat;
     position:relative;
    left: 80px;
    Width:600px;
    Height:700px;
    bottom: 150px;
    
}

.Company1 {
    position: relative;
    bottom: 150px;
}


.Company2 {
    position: relative;
    bottom: 150px;
}


.yoo{
    background: #ffffff url(../images/award.jpg)
    no-repeat;
     position:relative;
    left: 10px;
    Width: 850px;
    Height: 850px;
    bottom: 150px;
    background-size: contain;
    
    
}

.Congressional1 {
    position: relative;
    bottom: 150px;
}


.Congressional2 {
    position: relative;
    bottom: 150px;
}




.hoo{
    background: #ffffff url(../images/art.jpg)
    no-repeat;
     position:relative;
    left:250px;
    Width:600px;
    Height:400px;
    bottom: 150px;
    max-width:100%;
    max-height:100%;
    background-size: contain;
    
}
.artw1 {
    position: relative;
    bottom: 150px;
}


.artw2 {
    position: relative;
    bottom: 150px;
}



.kkoo{
    background: #ffffff url(../images/wireframe.jpg)
    no-repeat;
     position:relative;
    Width: 900px;
    Height: 400px;
    bottom: 150px;
    left: 300px;
    background-size: contain;

    
}


.kko1 {
    position: relative;
    bottom: 150px;
}


.kko2 {
    position: relative;
    bottom: 150px;
}




p.mhhh{
position: relative;
bottom: 240px;
text-align: center;
font-family: 'News Cycle', sans-serif;
font-size: 25px;
margin: 0;
color: white;
}




li a.p444 {

    position: relative;
    bottom: 10px;
    left: 55px;
    font-size: 20px;
    font-family: 'News Cycle', sans-serif;
    
}


a.p444{
color: white;
text-decoration: none;
list-style-type: none;
color: #363636;

}

a.p444:hover {
    color: #96A4B5;}



li a.p444 {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}



/*Senior Capstone*/

ul.woottt {
    background-color: #E3E3E3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    bottom: 205px;
    
}

li.p55 {
float: left;
}

li a.p555 {

    position: relative;
    bottom: 10px;
    left: 55px;
    font-size: 20px;
    font-family: 'News Cycle', sans-serif;
    
}

h3{
position: relative;
bottom: 200px;
font-family: 'News Cycle', sans-serif;  
}

p.plz{
position: relative;
bottom: 250px;
text-align: center;
font-family: 'News Cycle', sans-serif;
font-size: 25px;
margin: 0;
color: white;
  
}

p.plzz{
position: relative;
bottom: 240px;
text-align: center;
font-family: 'News Cycle', sans-serif;
font-size: 25px;
margin: 0;
color: white;
}


a.p555{
color: white;
text-decoration: none;
list-style-type: none;
color: #363636;

}

a.p555:hover {
    color: #96A4B5;}



li a.p555 {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}



/*Resume*/

ul.wootttt {
    background-color: #E3E3E3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    bottom: 205px;
    
}

li.p66 {
float: left;
}

p.no{
position: relative;
bottom: 250px;
text-align: center;
font-family: 'News Cycle', sans-serif;
font-size: 25px;
margin: 0;
color: white;
  
}

p.noo{
position: relative;
bottom: 240px;
text-align: center;
font-family: 'News Cycle', sans-serif;
font-size: 25px;
margin: 0;
color: white;
}




li a.p666 {

    position: relative;
    bottom: 10px;
    left: 55px;
    font-size: 20px;
    font-family: 'News Cycle', sans-serif;
    
}


a.p666{
text-decoration: none;
list-style-type: none;

}

a.p666:hover {
    color: #96A4B5;}

li a.p666 {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}


.cmon{
    background: #ffffff url(../images/resume.jpg) no-repeat; 
    position: relative;
    width: 600px;
    Height: 800px;
    left: 150px;
    bottom: 150px;
}

